<html xmlns:th="http://www.thymeleaf.org" 
    th:replace="~{fragments/layout :: layout (~{::body},'medicamento')}">

  <body>

    <h2 th:text="#{meds}">Pets</h2>

    <table id="medicamentos" class="table table-striped">
        <thead>
        <tr>
            <th th:text="#{fn}" style="width: 150px;">Name</th>
            <th th:text="#{inact}" style="width: 200px;">Ing Act</th>
            <th th:text="#{prest}" >Presentation</th>
            <th th:text="'Descripción'">Descripción</th>
            <th th:text="'Precio'">Precio</th>
            <th th:text="'Existencia'">Existencia</th>
            <th th:text="'Fotografía'">Fotografía</th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="medicamento : ${selections}">
              <td>
                  <a th:href="@{/medicamento/__${medicamento.id}__}" th:text="${medicamento.nombre}"/></a>
              </td>
              <td th:text="${medicamento.ingrediente_activo}"/>
              <td th:text="${medicamento.presentacion}"/>
              <td th:text="${medicamento.descripcion}"/>
              <td th:text="${medicamento.precio}"/>
              <td th:text="${medicamento.existencia}"/>
              <td><img th:src="@{'/resources/images/Medicinas/' + ${medicamento.fotografia}}"/></td>
          </tr>
        </tbody>
    </table>

  </body>
</html>
